.admin-dashboard{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.SidebarAndContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.05) ;
    
}
.sideMenu{
    height: 100%;
}
.sideMenuVertical{
    height: 100%;
}

.Footer{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D3D3D3;
   
    
    }

    .Content{
        padding-left: 12px;
        padding-right: 12px;
        
        background-color: rgb(219, 222, 219);
       
        width: 100vw;
       color: aliceblue;
       
    }

    .card{
        gap: 2rem;
    }
    .dashboard-card{
        display: flex;
        gap: 2rem;
        
    }

    .recent-applicant{
        font-size: 18px;
        font-weight: 600;
        
       
        
    }
    
.applicant-chart{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
.admindashboard-table{
    margin-top: 1rem;
}

.chart-card{
    margin-top: 1rem;
}

@media(max-width:880px){
    .dashboard-card{
        display: flex;
        flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;
       
        gap: 2rem;
    }

    .applicant-chart{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
    }

    .admindashboard-table{
        overflow-x: scroll;
        position: relative;
        
    }

    .chart-card{
        overflow-x: scroll;
        position: relative;
    }

    .dash-notify{
        display: flex;
        gap: 2rem;        
        justify-content: start;
    }
}
    